<section id="projects">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
   <h4> Here are some of my favorite projects! Most of these projects used data that cannot be shared, so I am unable to link to anything specific. However, if you want to learn more, please contact me!</h4>
    <div class="panel panel-default">
      <div class="panel-body">
      {{ range $i, $el := .Site.Data.projects.source }}
        <h5>
          <i class="{{ .icon }}"></i>&nbsp;&nbsp;
          <strong><a href="{{ $el.link}}">{{ $el.title}}</a></strong>&nbsp;-&nbsp;{{ $el.description }}
        </h5>
      {{ end }}
      </div>
    </div>
  </div>
</section>
